<h1>Users</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Password</th>
    <th>Active</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.active %></td>
  </tr>
<% end %>
</table>