<h1>Bem-vindo</h1>

<%= form_for @user, url: authentication_path do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username, autofocus: "autofocus" %> <br>
	<%= f.label :password %>
	<%= f.password_field :password %> <br>
	<%= f.submit 'Sign in', class: 'btn' %>
	<%= link_to 'Sing Up', new_user_path, class: 'btn' %>
<% end %>

<% unless notice.nil? %>
<div class="alert alert-error">
	<h1 id="notice"><%= notice %></h1>
</div>
<% end %>