<div class="navbar navbar-inverse">
	<div class="navbar navbar-inner">
		<%= link_to 'Authentication App', root_path, class: 'brand' %>
		<div class="container">
			<ul class="nav">
				<li><%= link_to 'Login', root_path %></li>
				<li><%= link_to 'Sign Up', new_user_path %></li>
			</ul>
		</div>
	</div>
</div>