<div class="navbar navbar-inverse">
	<div class="navbar navbar-inner">
		<%= link_to 'Authentication App', root_path, class: 'brand' %>
		<div class="container">
			<ul class="nav">
				<li><%= link_to 'Users', users_path %></li>
				<li><%= link_to 'Sign Out', end_session_path %></li>
			</ul>
		</div>
	</div>
</div>