<!DOCTYPE html>
<html>
<head>
  <title>ProjetoExemplo05</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if authenticated? %>
	<%= render "layouts/navbar_authenticated" %>
<% else %>
	<%= render 'layouts/navbar' %>
<% end %>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
